
body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #c9f6d2;
  transition: 0.4s;
}

header {
  background: #00ab7d;
  box-shadow: 0 0 10px black;
}

i {
  margin: 0 10px;
  transition: 0.2s;
}

a {
  cursor: pointer;
}

.row-header {
  justify-content: space-between;
}

.header-logo {
  padding-bottom: 9px;
}

.header-favorites {
  padding: 10px 20px;
}

.favorites-view {
  color: #00ab7d;
  background: white;
  border-radius: 20px;
}

.cell {
  padding: 10px;
  min-width: 100%;
}

.image-box {
  background: #00ab7d;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}

.image-overlay {
  pointer-events: none;
  display: flex;
  justify-content: right;
  align-items: end;
  font-size: 2rem;
  padding: 10px 10px;
}

.image-overlay a {
  pointer-events: initial;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.856);
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: scroll;
}

.modal-image {
  max-width: 1500px;
}

.modal-icons {
  margin-top: 40px;
  font-size: 4rem;
  justify-content: space-between;
}

.faved {
  color: rgb(255, 58, 101);
}

.left-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c9f6d2;
  border-radius: 50px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  background: #093034;
  border-radius: 100px;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background: #093034;
}

.switch input:checked + .slider::before {
  transform: translateX(30px);
  background: #c9f6d2;
}

.image-container {
  position: relative;

  /* min-height: 200px; */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.24);
}

.loading-spinner {
  animation: loading-spinner 1.2s infinite;
  transform-origin: center;
  font-size: 500%;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(calc(-360 * 2deg));
  }
}
