body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: #242e30;
}

header {
  background: #00ab7d;
}

i {
  margin: 0 10px;
}

a {
  cursor: pointer;
}

.row-header {
  justify-content: space-between;
}

.header-logo {
  padding-bottom: 9px;
}

.header-favorites {
  padding: 10px 20px;
}

.favorites-view {
  color: #00ab7d;
  background: white;
  border-radius: 20px;
}

.cell {
  padding: 10px;
  min-width: 100%;
}

.image-box {
  background: #00ab7d;
  border-radius: 20px;
  overflow: hidden;
}

.image-overlay {
  pointer-events: none;
  display: flex;
  justify-content: right;
  align-items: end;
  font-size: 2rem;
  padding: 10px 10px;
}

.image-overlay a {
  pointer-events: initial;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.856);
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: scroll;
}

.modal-image {
  max-width: 1500px;
}

.modal-icons {
  margin-top: 40px;
  font-size: 4rem;
  justify-content: space-between;
}

.faved {
  color: rgb(255, 58, 101);
}
